<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 " id="container" *ngFor="let blog of allBlogs">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="blogDescription">{{blog.description}}</p>
        <a [routerLink]= "['/blog',blog.blogId]" routerLinkActive="active" class="btn btn-primary">Read more</a>
        <footer class="footerClass">
          <div>created by: {{blog.author}}</div>
          <div>created on: {{blog.created | date}}</div>
        </footer>
        
  </div>
</div>
    </div>
  </div>
</div>
